@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --blue: #0d6efd;
  --light-blue: #1fbad6;
  --black: #121212;
}
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
  margin: 0%;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--black);
  color: #f0f0f0;
}
button:hover {
  cursor: pointer;
}

img {
  height: 50px;
}
.space {
  width: 100%;
}
nav {
  height: 50px;
  display: flex;
  flex-shrink: 1;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.logo {
  border: none;
  color: #c0c0c8;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
  width: 60px;
  position: relative;
  left: 10px;
}
.search {
  position: relative;
}
#searchBar {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 30px;
  background-color: #c0c0c8;
  transition: 500ms ease-out;
}
input {
  color: black;
}
#searchBut {
  border: none;
  display: block;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 75px;
  height: 35px;
  border-radius: 30px;
  background-color: var(--blue);
}
#searchBut img {
  width: 20px;
  height: 20px;
}
.user {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
#username {
  margin: 10px;
  color: #c0c0c8;
}
#user-img {
  border: #09091a;
  border-radius: 50%;
}
#map-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#begin {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 75px;
  width: 140px;
  transform: translateX(-50%);
  z-index: 1000;
  border: none;
  color: antiquewhite;
  border-radius: 5px;
  background-color: var(--blue);
}
#setBut,
#driver {
  margin: 5px;
  border: none;
  color: antiquewhite;
  border-radius: 5px;
  background-color: var(--blue);
}
#map {
  height: 50vh;
  border-radius: 30px;
  transition: 0.5s ease;
}
.account-btn {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  gap: 5px;
}
.strong {
  cursor: pointer;
}
#openAll {
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
}
.background-music {
  background-color: #0d6efd;
  position: absolute;
  top: 90%;
  right: 20%;
}
.music-image {
  cursor: pointer;
  position: absolute;
  top: 90%;
  right: 10%;

  animation: float 3s ease infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}